<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Pizza!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/pizzas.js"></script>
	   <link href="https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap" rel="stylesheet">
	 
	</head>
	<body>
		{{!-- <h2  class="addH2">Add your Pizza</h2> --}}
		<img src="/assets/img/pizza.png" width="310px" id="pizza">

		
		{{{ body }}}
	
	
	{{!-- <footer class="pizzaFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">© 2019 </span>
				<a class="grey-text text-lighten-4 right" href="">Github</a>
			</div>
		</div>
	</footer>
	 --}}
	</body>
</html>

